<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射-->
<mapper namespace="com.wei.mapper.DeptMapper">
    <select id="listDept" resultType="com.wei.entity.Dept">
        SELECT * from e_dept
    </select>

    <delete id="deleteDeptById" parameterType="int">
        delete from e_dept where id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
           #{item}
        </foreach>
    </delete>

    <insert id="saveDept">
        insert into e_dept values (#{dept.id},#{dept.dname},#{dept.location})
    </insert>
    <!--显示一个部门数量 作为id传过去-->
    <!--<select id="deptCount" parameterType="int">-->
        <!--select count(*) from e_dept-->
    <!--</select>-->

    <!--修改部门 带数据-->
    <select id="listDeptById" resultType="com.wei.entity.Dept">
        SELECT * from e_dept where id=#{id}
    </select>

    <update id="updateDept">
        update e_dept set dname=#{dept.dname},location=#{dept.location} where id=#{dept.id}
    </update>
</mapper>